@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 100%;
  font-family: 'Roboto', cursive;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1em;
  margin: 0;
  background-color: #e6f1e7;
}

@media only screen and (min-width: 44em) {

  body, h1 {
    font-size: 1.1rem;
    line-height: 1.4;
  }

}

@media only screen and (min-width:90em) {

  body {
    font-size: 1.2rem;
    line-height: 1.5;
  }

}

/*------------HEADER-------------*/

header {
  position: relative;
  text-align: center;
}

.profile {
  margin: 0;
  width: 100%;
  display: block;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  font-size: 2em;

  bottom: 10px;
  padding: 0.1em 0.5em 0.25em 0.5em;
  text-align: center;
  margin: 0 20%;
  color: white;
  font-weight: normal;
  text-shadow: -1px 1px 4px rgba(0,0,0,0.8), 1px 1px 4px rgba(0,0,0,0.8);

  border-color: #AFD6D4;
  border-width: medium;
  border-style: double;

  width: 60%;
}

@media only screen and (min-width: 29em) {

  .profile {
    width: 80%;
    margin: 0 10%;
  }

}

@media only screen and (min-width: 44em) {

  .profile {
    width: 65%;
    margin: 0 17.5%;
  }

  h1 {
    width: 40%;
    margin: 0 30%;
    bottom: 20px;
    font-size: 2.5rem;
  }

}

@media only screen and (min-width: 52em) {

  .profile {
    width: 12em;
    margin: 30%;
    padding: 0 8em;
    background-color: #AFD6D4;
  }

}

@media only screen and (min-width: 90em) {

  h1 {
    font-size: 4em;
  }

}
/*------------blocks section-------------*/

h2 {
  font-size: 1em;
  font-weight: normal;
}

.h2-1 {
  text-align: center;
  background-color: #AFD6D4;
  margin: 0;
  width: 35%;
  padding: 0 0 1em 0;
  float: left;
  padding: 0.5em;
}

.h2-2 {
  text-align: center;
  background-color: white;
  margin: 0 2.5% 1em 2.5%;
  width: 25%;
  float: left;
  padding: 0.5em 1em 1em 1em;
}

.h2-3 {
  background-color: #AFD6D4;
  text-align: center;
  margin: 0;
  width: 35%;
  padding: 0 0 1em 0;
  float: left;
  padding: 0.5em;
}

@media only screen and (min-width: 29em) {

  h2 {
    font-weight: 500;
  }

  .profile {
    width: 80%;
    margin: 0 10%;
  }

  .h2-1 {
    width: 25%;
    margin-left: 10%;

  }

  .h2-2 {
    width: 25%;
  }

  .h2-3 {
    width: 25%;
  }
}

@media only screen and (min-width: 44em) {

  h2 {
    font-size: 1.2em;
  }

}

@media only screen and (min-width: 90em) {
  h2 {
    font-size: 1.5em;
  }

}

/*------------body text-------------*/

.about-me {
  padding: 0.5em 2em;
  margin: 1em;
  clear: both;
}

@media only screen and (min-width: 29em) {

  .about-me {
    width: 80%;
    margin: 0 10%;
    padding: 1em 0;
  }

}

@media only screen and (min-width: 44em) {

  .about-me {
    width: 60%;
    margin: 1em 0 0 0;
    padding: 0 0 2em 4.75em;
    float: left;
  }

}

/*------------footer-------------*/

.behance {
  margin: 0 0 1em 10%;
  width: 20%;
  float: left;
}

.instagram {
  margin: 0 10% 1em 10%;
  width: 20%;
  float: left;
}

.linkedin {
  margin: 0 10% 1em 0;
  width: 20%;
  float: left;
}

@media only screen and (min-width: 24em) {

  .behance {
    margin: 0 0 1em 13%;
    width: 15%;
  }

  .instagram {
    margin: 0 13% 1em 13%;
    width: 15%;
  }

  .linkedin {
    margin: 0 13% 1em 0;
    width: 15%;
  }

}

@media only screen and (min-width: 44em) {

  .social-media {
    width: 40%;
    float: right;
    padding: 0 4.75em 0 0;
  }

  .behance {
    width: 25%;
    padding: 2em 0 1em 0;
    margin: 0 30% 0 45%;
  }

  .instagram {
    width: 25%;
    margin: 0 30% 0 45%;
    padding-bottom: 1em;
  }

  .linkedin {
    width: 25%;
    margin: 0 30% 0 45%;
  }

}

@media only screen and (min-width: 50em) {

  .social-media {
    width: 30%;
    float: right;
    padding: 0 5em 0 0;
  }
}

@media only screen and (min-width: 62em) {

  .social-media {
    width: 40%;
    margin: 2em 10% 0 0;
    padding: 0;
  }

  .about-me {
    float: left;
    width: 40%;
    margin-left: 10%;
    padding: 0;
  }

  .behance {
    margin: 0;
    padding: 0;
    width: 12%;
    float: right;
  }

  .instagram {
    margin: 0 4em;
    padding: 0;
    width: 12%;
    float: right;
  }

  .linkedin {
    margin: 0;
    padding: 0;
    width: 12%;
    float: right;
  }

}


/*-----------------PRINT INSTRUCTIONS---------*/

.print-layout {
  display: none;
}

@media print {

  header, footer {
    display: none;
  }

  .h2-section, .about-me {
    display: none;
  }

  .print-layout {
    display: block;
    width: 320px;
    padding: 0.25em;

    border-width: thin;
    border-style: solid;
    border-spacing: 2px;

    margin: auto;
    overflow: hidden;
  }

  .profile-print {
    width: 20%;
    float: left;
  }

  .print-type {
    width: 80%;
    float: left;
    padding: 0 0 2em 1em;
  }

  .print-h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
  }

  .print-h2 {
    font-size: 14px;
  }

}
